.map-camp{

	a.tooltip-link{
		font-family: $days;
		color:$white;
	}

	i{
		height:7px;
		width:7px;
		border-radius: 100%;
		display: block;
	}
	.dropdown-pane{
		background:$charc;
	}
}

.summer-camp{

	i{
		background: orange;
	}
}
.winter-camp{
	i{
		background: blue;
	}
}