.jumbotron{
  margin:75px 0px 40px 8px;

  h1{
  	font-size:rem-calc(80);
  	font-weight: 600;
  	line-height: rem-calc(80);
  	letter-spacing: rem-calc(-6);
  	display: block;
  	text-shadow:-1px 1px 0px $black;
  	
  	small{
  		font-size:rem-calc(34);
  		line-height: rem-calc(34);
  		display: block;	
  		font-weight: 300;
  		color:$white;
  		margin-top:10px;
  		letter-spacing: rem-calc(-.8);
      text-shadow:-1px 1px 0px $black;
  	}
  }
}


.home-blurb{
	background: $charc;
	font-size:rem-calc(18);
	font-weight: 300;
	line-height: 27px;
	padding: 15px 20px;
	border-radius: 10px;
  text-shadow: $tshadow;
  margin-left:12px;

	p{
		margin-bottom:0;
	}
}
