.journal-single{
	padding:25px;
	background: $snow;
	border-radius: 5px;
	margin:160px 0 110px 0;
	position: relative;

	.th{
		width:100%;
	}

	h1, h2, h3, h4, h5, h6{
		color:$jheadingblue;
		font-weight: bold;
		text-shadow: 0 0 0;
		letter-spacing: -0.05em;
	}

	a{
		color:$jhomeblue;
	}

	.entry-title{
		text-shadow: 0 0 0;
		font-weight: bold;
		font-size:rem-calc(30);
		line-height: rem-calc(32);
		letter-spacing: -0.05em;
		margin:40px 40px 10px 20px;
	}

	p, li{
		color:$jnavy;
		font-family: $booker;
		line-height: rem-calc(30);
		text-align: justify;
		font-size:rem-calc(17);
		font-weight: normal;
		letter-spacing: -0.02em;
	}

	blockquote{
		background: #dbdbdb;
		border-radius: 5px;
		border: 0px solid #dbdbdb;
		padding:20px 40px;

		p{
			font-size:rem-calc(21);
			margin-bottom:0;
			line-height: rem-calc(31);
			font-family: $sans;
			letter-spacing: -0.03em;
		}
	}
}

.journal-single-content{
	margin:rem-calc(0 20 18 20);

	a{
		color:$jyellow;
		transition: all ease 0.5s;

		&:hover{
			color:$blue;
		}
	}
}

.single-post{
	.journal-sidebar{
		margin-top:160px;
	}
}