.journal-hero{
	position: relative;
	//Opening Heading
	h1{
		font-weight: 300;
		line-height: 1;
		text-shadow:$tshadow;

		span{
			font-weight: bold;
			letter-spacing: -0.05em;
			display: block;
			font-size: rem-calc(60);
		}
	}

	//Background Image for Journal Home
	.journal-hero-img{
		img{
			min-width: 100%;
			height:100vh;
			object-fit:cover;
		}
	}

	//Content Box positioning on Journal Home
	.journal-hero-content{
		position: absolute;
		top:200px;
		left:0;
		right:0;
	}

	//Content Box Styles
	.journal-blurb{
		background: $owhite;
		padding:28px 22px;
		border-radius: 5px;
		margin-top:40px;
		max-width: 350px;

		p{
			color:$jlblue;
			font-size:rem-calc(20);
			text-align: center;
			font-weight: normal;
			letter-spacing: -0.05em;
			span{
				font-weight: bold;
			}
		}

		//Chevron down arrow in content box
		.hero-more{
			background: url(../images/chevron.png) no-repeat;
			display: block;
			height: 37px;
			width:74px;
			margin:0 auto;

			&:hover{
				background-position: 0 -37px;
			}
		}
	}
}