/* Tablet and desktop menu */
.top-bar {

  .menu a {
    line-height: 20px;
    color: $white;
    background:$charc;
    padding: 10px 15px 10px;
    font-weight: bold;
    font-size: rem-calc(14);
    border-radius: 5px;
    font-weight:300;
    margin:0 2px;
    text-shadow: $tshadow;

    &:hover:not(.button) {
      background-color: $oblue;
    }
  }

  .menu li.active a{
    background-color:$blue;

    &:hover{
      background-color:$oblue;
    }
  }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow>a::after { border: 0; }
}

//New Styles

.header-container{
  width:100%;
  background:$charc;
  display: block;
  margin-bottom:20px;
  z-index: 1;
}
.logo{
  width:150px;
  height:50px;
  transition: all ease 0.5s;
  &:hover{
    opacity: 0.6;
  }
}

/* Navigation breakpoints */

.main-navigation {
  @include show-for(medium);
}

.title-bar {
  @include hide-for(medium);
}

/* Mobile menu */
.off-canvas {
  ul#menu-main-menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: rem-calc(16);
    color: #B9B9B9;
  }
}